{
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "parser": "typescript",
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
